<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>

    <h1>Error</h1>
    <p><%= message %></p>
    <a href="/">Go Back Home</a>

    <%- include('partials/footer') %>
</body>
</html>
